/* HTML: <div class="loader"></div> */
.loader {
  width: 25px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #4d06c9) content-box;
  -webkit-mask: repeating-conic-gradient(#0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg),
    radial-gradient(farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}

@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}

/* The entire scrollbar */
#contact-scroll::-webkit-scrollbar {
  width: 0px;
  /* Width of the scrollbar */
}

/* The scrollbar track (background) */
#contact-scroll::-webkit-scrollbar-track {
  background: #2E2F40;
}

/* The scrollbar handle (thumb) */
#contact-scroll::-webkit-scrollbar-thumb {
  background: #08ce966a;
  border-radius: 10px;
  visibility: hidden;
}

/* The scrollbar handle (thumb) when hovered */
#contact-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#message {
  border-bottom-left-radius: 1rem;
}

#message-received {
  border-bottom-right-radius: 1rem;
}

#message-body-scroll::-webkit-scrollbar {
  width: 3px;
  /* Width of the scrollbar */
}

/* The scrollbar track (background) */
#message-body-scroll::-webkit-scrollbar-track {
  background: #1C1C29;
}

/* The scrollbar handle (thumb) */
#message-body-scroll::-webkit-scrollbar-thumb {
  background: #08ce968f;
  border-radius: 10px;

}

/* The scrollbar handle (thumb) when hovered */
#message-body-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}


#login-box,
#RegistraitonForm {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}